{
    "applications": {
        "CityForum-dev": {
            "applicationId": "MyApplicationId",
            "masterKey": "MyMasterKey"
        }, 
        "_default": {
            "link": "CityForum-dev"
        }
    }
}
